* {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
  font-family: "Times New Roman", Times, serif;
}

.container {
  width: 60%;
  margin: 0 auto;
}

h1 {
  font-size: 26px;
  color: #000;
}

h3 {
  font-size: 20px;
  color: #000;
}

p {
  color: #000;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  line-height: 1.5;
  margin-top: 10px;
}

a {
  color: #000;
}

/* Nav Bar style start */
nav {
  background-color: #eaeaea;
}

.nav-container {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.brand-logo {
  width: 150px;
}

.brand-logo a {
  text-decoration: none;
}

.brand-logo h1 {
  font-size: 28px;
  color: #008000;
  font-weight: bold;
}

.brand-logo h1:hover {
  color: #555;
}

.nav-items {
  margin-left: auto;
  display: flex;
}

.item {
  margin-left: 15px;
  padding: 10px 15px;
}

.item:hover {
  border-bottom: 4px solid #008000;
}

.item a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  text-transform: capitalize;
}

.active {
  border-bottom: 4px solid #008000;
}

.btn {
  background-color: #008000;
  border-radius: 2px;
}

.btn:hover {
  background-color: #d8199f;
  border-bottom: none;
}

.btn a {
  color: #fff;
}
/* Nav Bar style ends */

/* footer style start */
hr.footer {
  border-top: 1px solid #eaeaea;
  margin-bottom: 0;
}

footer {
  padding: 15px 0;
}

.icons span {
  margin-right: 10px;
}

.icons i {
  color: #008000;
  font-size: 32px;
}
/* footer style ends */

/* main area style start */
main {
  padding: 50px 0;
}

/* Home */
hr.home {
  margin: 20px 0;
}

.blog-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-top: 15px;
}

.blog-cards a {
  text-decoration: none;
}

.blog-card-item {
  width: 100%;
  overflow: hidden;
  background-color: #eaeaea;
}

.home-blog-img {
  width: 100%;
  height: 250px;
  max-height: 250px;
}

.home-blog-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card-tag-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card-tag {
  padding: 10px;
  background-color: #008000;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  margin-top: -16px;
}

.card-contents {
  padding: 0 25px 40px 25px;
}

.small {
  font-size: 13px;
}

.small span {
  font-weight: bolder;
}

.card-title {
  font-size: 20px;
  margin-top: 5px;
}

.all-posts {
  margin-top: 30px;
}

/* Blog Item html design start */
.blog-item-text img {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.blog-hr {
  margin: 40px 0;
}
/* Blog Item html design ends */

.about-h3 {
  margin-top: 22px;
  color: darkcyan;
}

/* contact page style start */

/* contact page style start */
/* main area style ends */
